<ion-view view-title="CONTACTS">
    <ion-nav-title>
        <img class="title-image" src="img/logo.png" />
    </ion-nav-title>
    <ion-content padding="10">
        <h3 class="text-center">Contact</h2>
            <form method="post" class="invtform" ng-submit="" name="postForm" novalidate>
                <!--ng-repeat="item in items"--> 
                <div class="contact-table" style="max-height:{{height}}px">
                    <div class="row header">
                        <div class="col">Label</div>
                        <div class="col">Email</div>
                        <div class="col">Group</div>
                        <div class="col col-25" style="min-width:50px;max-width:50px;"></div>
                        <div class="col col-50" style="min-width:50px;max-width:50px;"></div>
                    </div>
                    <div   ng-repeat="data in contacts">
                        <div class="row " on-hold='editInvitation(data.inv_id)'>
                            <div class="col" >{{data.inv_u_id == userId && data.inv_name||  data.inv_r_name}}</div>
                            <div class="col">{{data.inv_u_id == userId && data.rec_email||  data.send_email}}</div>
                            <div class="col">{{data.inv_u_id == userId && data.inv_group||  data.inv_r_group}}</div>
                            <div class="col" style="min-width:50px;max-width:50px;">
                                <div class="checkboxFour">
                                    <input type="checkbox" ng-true-value="{{data.inv_rec_u_id}}" ng-false-value="" id="checkboxFourInput{{data.inv_id}}" ng-model="user[$index]" name="userid[]" />
                                    <label for="checkboxFourInput{{data.inv_id}}"></label>

                                </div>
                            </div>
                            <div class="col" style="min-width:50px;max-width:50px;">
                                <button class="button button-small button-primary" ng-click="deleteContact(data.inv_id)">X</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="padding"></div>
                <h4 ng-hide="contacts.length > 0" class="text-center">No record Found. </h4>
                <div class="padding onebtncss">
                    <button type="submit" class="button button-block button-{{appColor}}" ng-click="sendMessage()"> Send </button>
                </div>
                <div class="padding onebtncss">
                    <button type="submit" class="button button-block button-dark"> Home </button>
                </div>
            </form>
    </ion-content>
</ion-view>