<ion-view view-title="CONTACTS">
    <ion-nav-title>
        <img class="title-image" src="img/logo.png" />
    </ion-nav-title>
    <ion-content padding="10">

        <!--ng-repeat="item in items"--> 

        <div class="padding"  ng-show="!fbConnection">
            <form method="post" class="invtform" name="postForm" novalidate>
                <label class="item item-input width-75 inline-flex" style="border-bottom: 1px solid #ccc">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" name="search" placeholder="Search" ng-model="user.search" required="">
                </label>
                <a class="button button-primary width-20 inline-block" ng-click="submitForm(postForm.$valid)" > <i class="icon ion-archive"></i></a>
                <div class="padding"></div>
                <span ng-message class="warning-message-normal" ng-show="required">Required</span>
            </form>
        </div>
        <div class="padding"></div>

        <!--ng-repeat="item in items"--> 
        <div class="contact-table" style="max-height:{{height}}px">
            <div class="row header">
                <div class="col">Name</div>
                <div class="col">Label</div>
                <div class="col">Email</div>                   
                <div class="col col-25" style="min-width:50px;max-width:50px;"></div>                    
            </div>
            <div  ng-repeat="(index,contact) in contacts ">
                <div class="row " ng-show="contact.emails.length > 0">
                    <div class="col" ng-model="user.name[index]">{{contact.displayName}}</div>
                    <div class="col" ><a ng-hide="!userser"  ></a><input type="text" name="text[]" ng-model="user.name[index]"  /></div>
                    <div class="col">{{contact.emails[0].value}}</div>                        
                    <div class="col" style="min-width:50px;max-width:50px;">
                        <div class="checkboxFour">
                            <input type="checkbox" checked ng-click="removeEmail(contact.emails[0].value)" ng-true-value="{{contact.emails[0].value}}" ng-false-value="0" id="checkboxFourInput{{index}}" ng-model="email[index]" value=""  name="userid[]" />
                            <label for="checkboxFourInput{{index}}"></label>
                        </div>
                    </div>                       
                </div>
            </div>
        </div>
        <div class="padding"></div>
        <h4 ng-hide="contacts.length > 0" class="text-center">No record Found. </h4>
        <div class="padding onebtncss">
            <button type="submit" class="button button-block button-{{appColor}}" ng-click="sendInvitation()"> Send </button>
        </div>
        <div class="padding onebtncss">
            <button type="submit" class="button button-block button-dark"> Home </button>
        </div>

    </ion-content>
</ion-view>