<ion-content padding="10" >
    <div class="list">
        <form method="post" class="invtform" ng-submit="submitForm(postForm.$valid)" name="postForm" novalidate>
            <label class="item item-input">
                <h2 class="leftside">UserId </h2>
                <input required type="text" class="inputbrd" ng-model="user.username" readonly name="username"  placeholder="User Id" value="From {{user.username}}  " form-validate-after>
            </label>
            <span ng-message class="warning-message-normal" ng-show="postForm.username.$error.required && postForm.username.$dirty">Required</span>
            <label class="item item-input">
                <h2 class="leftside">Code </h2>
                <input  required ng-model="user.code" class="inputbrd" name="code" type="text" placeholder="Code" form-validate-after>
            </label>
            <span ng-message class="warning-message-normal" ng-show="postForm.code.$invalid && postForm.code.$dirty">Required</span>

            <label class="item item-input">
                <h2 class="leftside">Group </h2>
                <select name="group_id" required  ng-model="user.group_id" class="inputbrd" >
                    <option ng-repeat="x in groups" value="{{x.g_id}}" ng-selected="x.g_id == group">{{x.g_name}}</option>
                </select>
            </label>
            <span ng-message class="warning-message-normal" ng-show="postForm.group_id.$invalid && postForm.group.$dirty">Required</span>
            <div class="padding"></div>
        </form>
    </div>
</ion-content>